<nav class="bd-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Cadastro</a></li>
      <li class="breadcrumb-item"><a routerLink="/dominio">Domínio</a></li>
      <li class="breadcrumb-item active">{{rota}}</li>
    </ol>
</nav>

<form [formGroup]="resourceForm" (submit)="submitForm()">
    <div class="card">
        <div class="card-header">
          Informações sobre Domínio: {{ id }}  
        </div>    
    
        <div class="card-body">
          <div class="form-row">
              <div class="form-group col-md-3">
                  <label for="tipoModulo">Domínio</label>
                  <select class="custom-select my-1 mr-sm-2" id="nome" name="nome" formControlName="nome">
                      <option *ngFor="let op of optDominios" [value]="op.value">{{ op.label }}</option>            
                  </select>
  
                  <app-form-field-error [form-control]="resourceForm.get('nome')"></app-form-field-error>
            </div>
          </div>  


          <div class="form-row">
              <div class="form-group col-md-9">
                  <label for="name">Valor do Domínio</label>
                  <input type="text" class="form-control" id="cd" formControlName="cd" style="float:rigth">
        
                  <app-form-field-error [form-control]="resourceForm.get('cd')"></app-form-field-error>
              </div>
          </div>

          <div class="form-row">
              <div class="form-group col-md-9">
                  <label for="name">Descrição do Domínio</label>
                  <input type="text" class="form-control" id="descricao" formControlName="descricao" style="float:rigth">
        
                  <app-form-field-error [form-control]="resourceForm.get('descricao')"></app-form-field-error>
              </div>
          </div>

        </div>
    </div>

    <p-footer>
        <div class="ui-g-12 ui-dialog-buttonpane ui-helper-clearfix">
              <p-confirmDialog acceptLabel="Sim" rejectLabel="Não" ></p-confirmDialog>
              <button type="button" [disabled]="!resourceForm.valid" (click)="onSubmit(resourceForm)" pButton icon="pi pi-check" label="Gravar"></button>
              <p-messages [value]="msgs"></p-messages>
        </div>  
    </p-footer>

</form>
