<div *ngIf="( currentAction === 'edit' ); then thenEdit else NewBlock"></div>
<ng-template #thenEdit>
    <app-barra-navegacao [breadcrumbitems]="[{text: 'Módulo', link: '/modulo'},{text: 'Editar'}]"></app-barra-navegacao>
</ng-template>
<ng-template #NewBlock>
    <app-barra-navegacao [breadcrumbitems]="[{text: 'Módulo', link: '/modulo'},{text: 'Novo'}]"></app-barra-navegacao>
</ng-template> 


<p-growl [value]="msgs"></p-growl>
<form [formGroup]="resourceForm" (submit)="submitForm()">  

  <div class="card">
    <div class="card-header">
      Id do Módulo:  {{ id }}
    </div>

    <!-- Versão -->
    <div class="card-body">
      <div *ngIf="resource.tipoModulo !== 'WEB'" class="form-row">    
          <div class="form-group col-md-2">
              <label for="name">Versão</label>
              <input type="text" class="form-control" readonly="( this.currentAction === 'edit' )" id="versao" name="versao" formControlName="versao" style="float:rigth">
    
              <app-form-field-error [form-control]="resourceForm.get('versao')"></app-form-field-error>
          </div>
      </div>

       <!-- Sigla -->
      <div class="form-row">
        <div class="form-group col-md-2">
            <label for="name">Sigla</label>
            <input type="text" class="form-control" readonly="( this.currentAction === 'edit' )" id="sigla" name="sigla" formControlName="sigla">

            <app-form-field-error [form-control]="resourceForm.get('sigla')"></app-form-field-error>
        </div>        
        
        <!-- Tipo de Aplicação -->
        <div class="form-group col-md-2">
            <label>Tipo de Aplicação</label>
            <select class="custom-select my-1 mr-sm-2" id="tipoModulo" name="tipoModulo" formControlName="tipoModulo" (change)="GerenciaControles()">
                <option *ngFor="let option of TipoAplicacao" [value]="option.value">{{ option.label }}</option>            
            </select>
            <app-form-field-error [form-control]="resourceForm.get('tipoModulo')"></app-form-field-error>
        </div>

        <!-- name -->
        <div class="form-group col-md-8">
          <label for="name">Módulo</label>
          <input type="text" class="form-control" id="nome" name="nome" formControlName="nome">
    
          <app-form-field-error [form-control]="resourceForm.get('nome')"></app-form-field-error>
        </div>
  
      </div>

      <!-- titulo -->
      <div class="form-row">
          <div class="form-group col-md-12">
            <label for="name">Título</label>
            <input type="text" class="form-control" id="descricao" name="descricao" formControlName="descricao">
      
            <app-form-field-error [form-control]="resourceForm.get('descricao')"></app-form-field-error>
          </div>      
      </div>

      <!-- Alias -->
      <div class="form-row">
        <div class="form-group col-md-3">
            <label for="alias">Alias</label>
            <p-autoComplete class="form-control" id="alias" name="alias" formControlName="alias" 
                            [suggestions]="aliases" (completeMethod)="buscaAutoComplete($event)"></p-autoComplete>

            <app-form-field-error [form-control]="resourceForm.get('alias')"></app-form-field-error>
        </div>

        <!-- Esquema -->
        <div class="form-group col-md-4">
            <label for="name">Esquema</label>
            <input type="text" class="form-control" id="esquema" name="esquema" formControlName="esquema">
      
            <app-form-field-error [form-control]="resourceForm.get('esquema')"></app-form-field-error>
        </div>        

        <!-- email -->
        <div class="form-group col-md-5">
            <label for="name">Email do Responsável</label>
            <input type="text" class="form-control" id="email" name="email" formControlName="email">
      
            <app-form-field-error [form-control]="resourceForm.get('email')"></app-form-field-error>
        </div>        

      </div>

      <div class="form-row">

          <div class="card" style="width: 75%;">
            <!-- Dados de Atualização -->
            <h6 class="card-header">Dados de Atualização</h6>
            <div class="card-body">
              <div class="form-group col-md-3">
                  <label class="input-group-text" for="tipoAtualizacao">Tipo</label>
                  <select class="custom-select my-1 mr-sm-2" id="tipoAtualizacao" name="tipoAtualizacao" formControlName="tipoAtualizacao">
                      <option *ngFor="let option of TipoAtualizacao" [value]="option.value">{{ option.label }}</option>            
                  </select>
              </div>

              <!-- Situação -->
              <div class="form-group col-md-3">
                  <label class="input-group-text" for="statusModulo">Situação</label>
                  <select class="custom-select my-1 mr-sm-2" id="statusModulo" name="statusModulo" formControlName="statusModulo">
                      <option *ngFor="let option of StatusModulo" [value]="option.value">{{ option.label }}</option>            
                  </select>
              </div>              

              <!-- Tabela Mensagem -->
              <div class="form-group col-md-3"> 
                  <label for="tabela">Tabela Mensagem</label>
                  <p-inputSwitch onLabel="Sim" offLabel="Não" id="mensagemCompartilhada" name="mensagemCompartilhada" formControlName="mensagemCompartilhada"></p-inputSwitch>
              </div>
          
              <!-- Controla Acesso -->
              <div class="form-group col-md-3"> 
                  <label for="tabela">Controla Acesso</label> 
                  <p-inputSwitch (onChange)="alteraControlaAcesso($event)" ([checked])="checked"></p-inputSwitch>
              </div>

            </div>

          </div>

          <!-- Servidores do Módulo -->
          <div class="card" style="width: 25%;">
            <h6 class="card-header">Servidores do Módulo</h6>
            <div class="card-body">
                <div class="form-group col-md">
                    <app-servidor-list [siglaModulo]="siglaModulo" [cdTrib]="cdTrib" ngDefaultControl></app-servidor-list>
                </div>  
            </div>
          </div>

    </div>      

    </div>
  </div>

</form>

<app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

<button routerLink="/modulo" class="btn btn-primary btn-lg float-left mt-3"><< Voltar</button>
<button [disabled]="resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
  Salvar
</button>

{{ resourceForm.value | json }}