#alias {
  display:inline;
}

.form-control {
    display: inline;
    background-color: none;
}

.form-control.p_autocomplete {
    float: left;
}

.card-body {
    background-color: bisque;
}

label{
    color: green; 
    text-align: left; float: left; 
}

p-autoComplete {
    text-align: left; float: left;   
}

h6{
    color: green; 
    text-align: left; float: left;     
} 

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }