<nav class="bd-5 mt-1">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Cadastro</a></li>
    <li class="breadcrumb-item"><a routerLink="/tribunal">Tribunal</a></li>
    <li class="breadcrumb-item active">{{rota}}</li>
  </ol>
</nav>
<form class="form-vertical" [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <!--div class="ui-g ui-fluid"-->

  <div class="form-group ui-g-12">
      <label>Id: {{id}}</label>
  </div>

  <div class="form-group ui-g-2">
      <label>Sigla</label>
      <input formcontrolname="sigla" 
             class="form-control"
             placeholder="Sigla do Tribunal"
             [class.invalid]="form.controls['sigla'].touched && !form.controls['sigla'].valid">
  </div>

  <div class="form-group ui-g-12">
      <label>Nome</label>
      <input formcontrolname="nome"
             class="form-control" 
             placeholder="Nome de Tribunal" 
             [class.invalid]="form.controls['nome'].touched && !form.controls['nome'].valid">
  </div>

  <div class="form-group ui-g-12">
      <label>Logradouro</label>
      <input formcontrolname="logradouro"
             class="form-control" 
             placeholder="Logradouro"
             [class.invalid]="form.controls['logradouro'].touched && !form.controls['logradouro'].valid">
  </div>

  <div class="form-group ui-g-12">
      <label>Bairrro</label>
      <input formcontrolname="bairro" 
             class="form-control"
             placeholder="Bairro"
             [class.invalid]="form.controls['bairro'].touched && !form.controls['bairro'].valid">
  </div>

  <div class="form-group ui-g-8">
    <div class="form-group ui-g-3">
        <label>UF</label>
        <p-dropdown [options]="ufs" optionLabel="viewValue" formcontrolname="uf"  placeholder="UF"></p-dropdown>
    </div>

    <div class="form-group ui-g-2">
        <label>CEP</label>
        <input formcontrolname="cep" 
              class="form-control"
              placeholder="CEP"
              [class.invalid]="form.controls['cep'].touched && !form.controls['cep'].valid">
    </div>
  </div>


  <div class="form-group ui-g-12">
      <label>Cidade</label>
      <input formcontrolname="cidade"
             class="form-control"
             placeholder="Cidade"
             [class.invalid]="form.controls['cidade'].touched && !form.controls['cidade'].valid"> 
  </div>
    
  <div class="form-group ui-g-3">
      <label>Telefone</label>
      <input formcontrolname="telefone" 
             class="form-control"
             placeholder="Telefone"
             [class.invalid]="form.controls['telefone'].touched && !form.controls['telefone'].valid"> 
  </div>

  <div class="form-group ui-g-3">
      <label>CGC</label>  
      <input formcontrolname="cgc" 
             class="form-control"
             placeholder="CGC"
             [class.invalid]="form.controls['cgc'].touched && !form.controls['cgc'].valid">
  </div>

  
  <div class="form-group ui-g-12">
    <div class="form-group ui-g-3">
        <label>Nº Contrato</label>  
        <input formcontrolname="numeroContrato" 
              class="form-control"
              placeholder="Número do Contrato"
              [class.invalid]="form.controls['numeroContrato'].touched && !form.controls['numeroContrato'].valid">
    </div>  
    <div class="form-group ui-g-9">
        <label>Contrato</label>
        <input formcontrolname="descricaoContrato" 
              class="form-control"
              placeholder="Descrição do Contrato"
              [class.invalid]="form.controls['descricaoContrato'].touched && !form.controls['descricaoContrato'].valid">
    </div>
  </div>

  <div class="form-group ui-g-10">
    <div class="form-group ui-g-2">
        <label>Cod. Mun. IBGE</label>
        <input formcontrolname="codigoMunicipioIBGE" 
              class="form-control"
              placeholder="Código do Município"
              [class.invalid]="form.controls['codigoMunicipioIBGE'].touched && !form.controls['codigoMunicipioIBGE'].valid">
    </div>
    <div class="form-group ui-g-3">
        <label>Cod. Nat. Jurídica</label>  
        <input formcontrolname="codigoNaturezaJurformcontrolnameica" 
              class="form-control"
              placeholder="Código da Natureza Jurídica"
              [class.invalid]="form.controls['codigoNaturezaJuridica'].touched && !form.controls['codigoNaturezaJuridica'].valid">
    </div>
    <div class="form-group ui-g-5">
        <label>Email</label>  
        <input formcontrolname="email" 
               class="form-control"
               placeholder="Email"> 
    </div>
</div>

<p-footer>
    <div class="ui-g-12 ui-dialog-buttonpane ui-helper-clearfix">
        <div class="ui-g-6">
        <button type="button" pButton icon="fa-close" label="Cancelar"></button>
        </div>
        <div class="ui-g-6">
        <button type="button" pButton icon="fa-check" (click)="save()" label="Salvar"></button>
        </div>
    </div>
</p-footer> 
  
</form>
