
  .form-group {
      display: inline;
      background-color: none;
  }
  
  .form-group.p-autocomplete {
      float: left;
  }
  
  .card-body {
      background-color: bisque;
  }

  label{
      color: green; 
      text-align: left; float: left; 
  }

  .p-checkbox {
      float: left;
  }
  
  h6{
      color: green; 
      text-align: left; float: left;     
  } 