<nav class="bd-5 mt-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Cadastro</a></li>
      <li class="breadcrumb-item"><a routerLink="/modulo">Módulo</a></li>
      <li class="breadcrumb-item active">{{rota}}</li>
    </ol>
</nav>
<form class="form-vertical" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-fluid">
            <div class="ui-g">
                <label for="id">Id</label>
                <input pInputText id="id" [(ngModel)]="id" [disabled]="true" maxlength="6"/>
            </div>
            <div class="ui-g">
                <label for="id">Sigla</label>
                <input pInputText id="id" [(ngModel)]="modulo.sigla" [disabled]="true"/>
            </div>            
            <div class="ui-g ui-fluid">
                <label for="id">Alias</label>
            </div>
            <div class="ui-g">
                <p-dropdown [options]="alias" [(ngModel)]="selectedAlias"  placeholder="Selecione um Alias"></p-dropdown>
		    </div>	
            <div class="ui-g-4">
                <label for="esquema">Esquema</label>
                <input pInputText id="esquema" [(ngModel)]="modulo.esquema" maxlength="30" size="20"/>
            </div>                        
            <div class="ui-g-4">
                <label for="versao">Versão</label>
                 <input pInputText id="versao" [(ngModel)]="modulo.versao" [disabled]="true"/>
            </div>
            <div class="ui-g-2">
                <div class="ui-g"> 
                    <label for="tabela">Tabela Mensagem</label>
                </div>
                <div class="ui-g">
                    <p-inputSwitch onLabel="Sim" offLabel="Não" [(ngModel)]="modulo.mensagemCompartilhada"></p-inputSwitch>
                </div>
            </div>            
             <div class="ui-g-2">
                <div class="ui-g"> 
                    <label for="tabela">Controla Acesso</label>
                </div>
                <div class="ui-g">    
                    <p-inputSwitch onLabel="Sim" offLabel="Não" [(ngModel)]="modulo.controlaAcesso"></p-inputSwitch>
                </div>    
             </div>             
        </div>
        <div class="ui-g-10 ui-fluid">
            <div class="ui-g-4 ui-fluid">   
                <label for="tabela">Tipo de aplicação</label>                
                <app-tipo-aplicacao-multi></app-tipo-aplicacao-multi>
            </div>            
            <div class="ui-g-6">
                <app-servidor-list [options]="servers" [(ngModel)]="selectedServers" [modulo.tribunal.id]="cdTrib" (onSelecionarTribunal)="onSelecionarTribunal($cdTrib)"  optionLabel="id.alias" ngDefaultControl></app-servidor-list>
            </div>
        </div>     
    </div>                   
    <p-footer>
        <div class="ui-g-12 ui-dialog-buttonpane ui-helper-clearfix">
            <div class="ui-g-6">
            <button type="button" pButton icon="fa-close" label="Cancelar"></button>
            </div>
            <div class="ui-g-6">
            <button type="button" pButton icon="fa-check" (click)="save()" label="Salvar"></button>
            </div>
        </div>
    </p-footer>
</form>
