.card-body {
    background-color: bisque;
}

.form-control {
    margin-left: 10rem;
}

p.text-danger {
    margin-left: 10rem;
    width: max-content;
}

label{
    margin-left: 10rem;
    color: green; 
    text-align: left; float: left; 
}