form.form-vertical {
    background-color: bisque;
}

label{
    color: green; 
    text-align: left; float: left; margin-right: 1em; 
}

input{
    font-family: 'Times New Roman', 'Times', 'serif';
    font-size: 10pt;
}

input[type="text"] {
    background: #ccc;
    height: 35px;
    font-style: normal;
    font-size: 14px;
    border: 0;
}

form.p-footer.div {
    background-color: brown
}