<app-barra-navegacao
    [items]="[{text: 'Home', link: '/home'},{text: 'Módulo', link: '/modulo'}, {text: pageTitle}]">
</app-barra-navegacao> 
<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="card">
    <div class="card-header">
      Informações sobre o Módulo      
    </div>
    

    <div class="card-body">
      <div class="form-row">
          <div class="form-group col-md-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <label class="input-group-text" for="tipoModulo">Tipo de Aplicação</label>
              </div>
              <select class="custom-select my-1 mr-sm-2" id="tipoModulo" name="tipoModulo" formControlName="tipoModulo">
                  <option *ngFor="let option of TipoAplicacao" [value]="option.value">{{ option.label }}</option>            
              </select>
            </div>
          </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="name">Sigla</label>
          <input type="text" class="form-control" id="sigla" formControlName="sigla" [disabled]="true">

          <app-form-field-error [form-control]="resourceForm.get('sigla')"></app-form-field-error>
        </div>

        <!-- name -->
        <div class="form-group col-md-5">
          <label for="name">Módulo</label>
          <input type="text" class="form-control" id="nome" formControlName="nome">
    
          <app-form-field-error [form-control]="resourceForm.get('nome')"></app-form-field-error>
        </div>

        <!-- titulo -->
        <div class="form-group col-md-5">
            <label for="name">Título</label>
            <input type="text" class="form-control" id="descricao" formControlName="descricao">
      
            <app-form-field-error [form-control]="resourceForm.get('descricao')"></app-form-field-error>
          </div>        
      </div>

      <div class="form-row">
        <!-- Alias -->
        <div class="form-group col-md-4">
            <label for="type">Alias</label>
  
            <select name="type" id="alias" formControlName="alias" class="form-control">
              <option *ngFor="let option of alias" [value]="option.value">{{ option.label }}</option>
            </select>
  
            <app-form-field-error [form-control]="resourceForm.get('alias')"></app-form-field-error>
        </div>

        <!-- Esquema -->
        <div class="form-group col-md-5">
            <label for="name">Esquema</label>
            <input type="text" class="form-control" id="esquema" formControlName="esquema">
      
            <app-form-field-error [form-control]="resourceForm.get('esquema')"></app-form-field-error>
        </div>        

      </div>

      <div class="form-row">
        <!-- email -->
        <div class="form-group col-md-6">
            <label for="name">Email do Responsável</label>
            <input type="text" class="form-control" id="email" formControlName="email">
      
            <app-form-field-error [form-control]="resourceForm.get('email')"></app-form-field-error>
        </div>
      </div>

      <div class="form-row">
          <div class="form-group col-md-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <label class="input-group-text" for="tipoAtualizacao">Tipo de Atualização</label>
              </div>
              <select class="custom-select my-1 mr-sm-2" id="tipoAtualizacao" name="tipoAtualizacao" formControlName="tipoAtualizacao">
                  <option *ngFor="let option of TipoAtualizacao" [value]="option.value">{{ option.label }}</option>            
              </select>
            </div>
          </div>
      </div>
      
      <div class="form-row">
          <div class="form-group col-md-8">
            <app-servidor-list [options]="servers" (onSelecionarTribunal)="onSelecionarTribunal($cdTrib)"  ngDefaultControl></app-servidor-list>
          </div>
      </div>      

    </div>
  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

  <button (click)="TelaAnterior()" class="btn btn-primary btn-lg float-left mt-3"><< Voltar</button>
  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
    Salvar
  </button>

</form>
