<form class="form-vertical" [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <div class="form-group ui-g-12">
       <p-dropdown
              formControlName="nome"
              [options]="optDominios"
              placeholder="Domínio"
              optionLabel="label"
              [class.invalid]="form.controls['nome'].touched && !form.controls['nome'].valid">
      </p-dropdown>
    <!--p-autoComplete         
        class="form-control" 
        formControlName="nome"
        [class.invalid]="form.controls['nome'].touched && !form.controls['nome'].valid"
        [suggestions]="dominios" 
        field="descricao"        
        (completeMethod)="search($event)">
    </p-autoComplete-->
  </div>

  <div class="form-group ui-g-12">
      <label for="cd"
             [class.active]="dominio.cd"
             data-error="Código é obrigatório">
             Valor do Domínio</label>
      <input type="text" 
             class="form-control" 
             formControlName="cd"  
             [class.invalid]="form.controls['cd'].touched && !form.controls['cd'].valid"
             placeholder="Código" > 
  </div>

  <div class="form-group ui-g-12">
      <label for="descricao"
             [class.active]="dominio.descricao"
             data-error="Descrição é obrigatório e precisa conter no mínimo 6 caracteres">
             Descrição do Domínio</label>
      <input type="text" 
             class="form-control" 
             formControlName="descricao"
             [class.invalid]="form.controls['descricao'].touched && !form.controls['descricao'].valid" 
             placeholder="Descrição"> 
  </div>

  <p-confirmDialog acceptLabel="Sim" rejectLabel="Não" ></p-confirmDialog>
  <button type="button" [disabled]="!form.valid" (click)="onSubmit(form)" pButton icon="pi pi-check" label="Gravar"></button>
  <p-messages [value]="msgs"></p-messages>  
  
  <!-- button class="btn btn-primary" [disabled]="!form.valid" type="submit">Submit</button -->
  
</form>
