<form class="form-vertical" [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <div class="form-group ui-g-12">
    <mat-form-field class="example-full-width">
      <input matInput              
             name="sigla" 
             placeholder="Sigla do Tribunal"
             [class.invalid]="form.controls['sigla'].touched && !form.controls['sigla'].valid">
    </mat-form-field>
  </div>

  <div class="form-group ui-g-12">
    <mat-form-field class="example-full-width">
      <input matInput              
             name="nome" 
             placeholder="Nome de Tribunal" 
             [class.invalid]="form.controls['nome'].touched && !form.controls['nome'].valid">
    </mat-form-field> 
  </div>

  <div class="form-group ui-g-12">
    <mat-form-field class="example-full-width">
      <input matInput             
             name="logradouro" 
             placeholder="Logradouro"
             [class.invalid]="form.controls['logradouro'].touched && !form.controls['logradouro'].valid">
    </mat-form-field>
  </div>

  <div class="form-group ui-g-12">
    <mat-form-field class="example-full-width">
      <input matInput             
             name="bairro" 
             placeholder="Bairro"
             [class.invalid]="form.controls['bairro'].touched && !form.controls['bairro'].valid">
    </mat-form-field> 
  </div>


  <div class="form-group ui-g-12">
    <mat-form-field>
      <mat-select   placeholder="UF" >
        <mat-option *ngFor="let uf of ufs" [value]="uf.value">
          {{uf.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group ui-g-12">
    <mat-form-field class="example-full-width">
      <input matInput 
             name="cep" 
             placeholder="CEP"
             [class.invalid]="form.controls['cep'].touched && !form.controls['cep'].valid">
    </mat-form-field> 
  </div>

  <div class="form-group ui-g-12">
    <mat-form-field class="example-full-width">
      <input matInput 
             name="cidade" 
             placeholder="Cidade"
             [class.invalid]="form.controls['cidade'].touched && !form.controls['cidade'].valid">
    </mat-form-field> 
  </div>

  <div class="form-group ui-g-12">
    <mat-form-field class="example-full-width">
      <input matInput 
             name="telefone" 
             placeholder="Telefone"
             [class.invalid]="form.controls['telefone'].touched && !form.controls['telefone'].valid">
    </mat-form-field> 
  </div>



  <p-confirmDialog acceptLabel="Sim" rejectLabel="Não" ></p-confirmDialog>
  <button type="button" [disabled]="!form.valid" (click)="onSubmit(form)" pButton icon="pi pi-check" label="Gravar"></button>
  <p-messages [value]="msgs"></p-messages>  
  
  <!-- button class="btn btn-primary" [disabled]="!form.valid" type="submit">Submit</button -->
  
</form>
