<div *ngIf="( currentAction === 'edit' ); then thenEdit else NewBlock"></div>
<ng-template #thenEdit>
    <app-barra-navegacao [breadcrumbitems]="[{text: 'Áreas de Atuação', link: '/area'},{text: 'Editar'}]"></app-barra-navegacao>
</ng-template>
<ng-template #NewBlock>
    <app-barra-navegacao [breadcrumbitems]="[{text: 'Áreas de Atuação', link: '/area'},{text: 'Novo'}]"></app-barra-navegacao>
</ng-template> 


<p-growl [value]="msgs"></p-growl>
<form [formGroup]="resourceForm" (submit)="submitForm()">  

    <div class="card">
        <div class="card-header">
          Id do Módulo:  {{ id }}
        </div>
    
        <div class="card-body">
             <!-- Sigla -->
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="name">Sigla</label>
                    <input type="text" [readonly]="( currentAction === 'edit' ) " id="sigla" name="sigla" formControlName="sigla">
        
                    <app-form-field-error [form-control]="resourceForm.get('sigla')"></app-form-field-error>
                </div>                  
            </div>
                
        </div>
    
    </div>
    
    <app-feader-resource-form [urlBack]="urlBack"></app-feader-resource-form>

</form>

<div class="card">
    <div class="card-header">
      Grupos Administrados pela {{ resourceForm.get('sigla').value }}
    </div>
    <div class="card-body">    
        <div style="margin-bottom: 1em">
            <button type="button" pButton icon="pi pi-chevron-up" (click)="openPrev()" style="margin-right:.25em"></button>
            <button type="button" pButton icon="pi pi-chevron-down" (click)="openNext()"></button>
        </div>
        <p-accordion *ngFor="let grupo of grupos" [activeIndex]="index">
            <p-accordionTab [header]="grupo.nome">
                
            </p-accordionTab>
        </p-accordion>
    </div>
</div>
