<div *ngIf="( currentAction === 'edit' ); then EditBlock else NewBlock"></div>
<ng-template #EditBlock>
    <app-barra-navegacao [breadcrumbitems]="[{text: 'Perfil', link: '/perfil'},{text: 'Editar'}]"></app-barra-navegacao>  
</ng-template>
<ng-template #NewBlock>
    <app-barra-navegacao [breadcrumbitems]="[{text: 'Perfil', link: '/perfil'},{text: 'Novo'}]"></app-barra-navegacao>  
</ng-template> 



<form [formGroup]="resourceForm" (submit)="submitForm()">
    <div class="card">
        <div class="card-header">
          Informações sobre o Perfil: {{ id }}  
        </div>    
    
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-2">
                <label for="siglaModulo">Sigla do Módulo</label>
                <p-autoComplete id="modulo" name="modulo" formControlName="modulo" 
                                [(ngModel)]="sigla" [suggestions]="moduloList" (completeMethod)="buscaAutoComplete($event.query,'sigla')"
                                (onClear)="limpaDadosModulo()"  
                                [size]="20" [minLength]="1" [forceSelection]="true">
                </p-autoComplete>
            </div>
            
            <div class="form-group col-md-10">
              <label for="nomeModulo">Módulo</label>  
              <input type="text" class="form-control" id="nomeModulo" formControlName="nomeModulo">
            </div>
          </div>

          <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="perfil">Perfil</label>
                  <input type="text" class="form-control" id="id" formControlName="id">
        
                  <app-form-field-error [form-control]="resourceForm.get('id')"></app-form-field-error>
                </div>
          </div>

          <div class="form-row">
              <div class="form-group col-md-8">
                <label for="perfil">Nome</label>
                <input type="text" class="form-control" id="nome" formControlName="nome">
      
                <app-form-field-error [form-control]="resourceForm.get('nome')"></app-form-field-error>
              </div>
        </div>
        </div>


    </div>      

    <app-feader-resource-form [urlBack]="urlBack"></app-feader-resource-form>
</form>
