<div *ngIf="( currentAction === 'edit' ); then thenEdit else NewBlock"></div>
<ng-template #thenEdit>
    <app-barra-navegacao [breadcrumbitems]="[{text: 'Perfil', link: '/perfil'},{text: 'Editar'}]"></app-barra-navegacao>  
</ng-template>
<ng-template #NewBlock>
    <app-barra-navegacao [breadcrumbitems]="[{text: 'Perfil', link: '/perfil'},{text: 'Novo'}]"></app-barra-navegacao>  
</ng-template> 



<form [formGroup]="resourceForm" (submit)="submitForm()">
    <div class="card">
        <div class="card-header">
          Informações sobre o Perfil: {{ id }}  
        </div>    
    
        <div class="card-body">
          <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="perfil">Perfil</label>
                  <input type="text" class="form-control" id="id" formControlName="nome">
        
                  <app-form-field-error [form-control]="resourceForm.get('id')"></app-form-field-error>
                </div>
          </div>

          <div class="form-row">
              <div class="form-group col-md-8">
                <label for="perfil">Nome</label>
                <input type="text" class="form-control" id="nome" formControlName="nome">
      
                <app-form-field-error [form-control]="resourceForm.get('nome')"></app-form-field-error>
              </div>
        </div>
        </div>


    </div>      

    <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

    <button routerLink="/perfil" class="btn btn-primary btn-lg float-left mt-3"><< Voltar
    </button>
    <button type="submit" class="btn btn-primary btn-lg float-right mt-3">Salvar
    </button>

</form>
