<nav class="bd-1 mt-2">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Cadastro</a></li>
                <li class="breadcrumb-item"><a routerLink="/dominio">Domínio</a></li>
                <li class="breadcrumb-item active">{{rota}}</li>
              </ol>
</nav>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
       <div class="form-group ui-g-12">
              <p-dropdown 
                     formcontrolname="nome"
                     [options]="optDominios"
                     placeholder="Domínio"
                     optionLabel="label"
                     [showClear]="true"
                     [ngClass]="{ 'is-invalid': submitted && f.nome.errors }">
              </p-dropdown>
       </div>
       <div class="form-group ui-g-12">
              <label>Domínio</label>
              <input type="text" formControlName="cd" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cd.errors }" />
              <div *ngIf="submitted && f.cd.errors" class="invalid-feedback">
                     <div *ngIf="f.cd.errors.required">Domínio é obrigatório</div>
              </div>
       </div>                            
       <div class="form-group ui-g-12">
              <label>Descrição</label>
              <input type="text" formControlName="descricao" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descricao.errors }" />
              <div *ngIf="submitted && f.descricao.errors" class="invalid-feedback">
                     <div *ngIf="f.descricao.errors.required">Descrição é obrigatório</div>
              </div>
       </div>

       <p-confirmDialog acceptLabel="Sim" rejectLabel="Não" ></p-confirmDialog>
       <button type="button" pButton icon="pi pi-cancel" label="Cancelar"></button>
       <button type="button" class="ui-button-success" [disabled]="!form.valid" (click)="onSubmit(form)" pButton icon="pi pi-check" label="Gravar"></button>
       <p-messages [value]="msgs"></p-messages>  
</form>

