<div *ngIf="( currentAction === 'edit' ); then thenEdit else NewBlock"></div>
<ng-template #thenEdit>
    <app-barra-navegacao [breadcrumbitems]="[{text: 'Grupo', link: '/grupo'},{text: 'Editar'}]"></app-barra-navegacao>
</ng-template>
<ng-template #NewBlock>
    <app-barra-navegacao [breadcrumbitems]="[{text: 'Grupo', link: '/grupo'},{text: 'Novo'}]"></app-barra-navegacao>
</ng-template> 


<p-growl [value]="msgs"></p-growl>
<form [formGroup]="resourceForm" (submit)="submitForm()">  

  <div class="card">
    <div class="card-header">
      Id do Módulo:  {{ id }}
    </div>

    <div class="card-body">

      <div class="form-row">
        <!-- Area -->
        <div class="form-group col-md-3">
            <label for="area">Área</label>
            <p-autoComplete class="form-control" id="area" name="area" formControlName="area" 
                  [field]="value" [suggestions]="areas" (completeMethod)="buscaAutoComplete($event)"></p-autoComplete>

            <app-form-field-error [form-control]="resourceForm.get('alias')"></app-form-field-error>
        </div>
  
      </div>

      <div class="form-row">
          <div class="form-group col-md-2">
            <label for="nome">Grupo</label>
            <input type="text" class="form-control" id="nome" formControlName="nome" style="float:rigth">
  
            <app-form-field-error [form-control]="resourceForm.get('alias')"></app-form-field-error>
          </div>        
      </div>


    </div>  

  </div>

</form>

<div class="card rodape">
    <div class="card-body">  
      <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

      <button routerLink="/grupo" class="btn btn-primary btn-lg float-left mt-3"><< Voltar</button>
      <button [disabled]="resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
        Salvar
      </button>
  </div>
</div>

{{ resourceForm.value | json }}

    
